# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Python essentials
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# IDEs
.vscode/
.idea/

# Large data files (optional, but recommended)
# *.csv
# *.parquet
# *.json

# OpenCV Outputs
hello.png
output/
# If you want to ignore all images by default:
# *.png
# *.jpg
# *.jpeg
# *.bmp
